
.box {
  background: #fff;
  margin: 0 0 30px;
  border: solid 1px #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.box .box-header {
  background: #f7f7f7;
  margin: -20px -20px 20px;
  padding: 20px;
  border-bottom: solid 1px #eeeeee;
}
.box .box-header:before,
.box .box-header:after {
  content: " ";
  display: table;
}
.box .box-header:after {
  clear: both;
}
.box .box-footer {
  background: #f7f7f7;
  margin: 30px -20px -20px;
  padding: 20px;
  border-top: solid 1px #eeeeee;
}
.box .box-footer:before,
.box .box-footer:after {
  content: " ";
  display: table;
}
.box .box-footer:after {
  clear: both;
}
@media (max-width: 991px) {
  .box .box-footer .btn {
    margin-bottom: 20px;
  }
}
.box.slideshow {
  padding: 20px 0 0 0;
  text-align: center;
}
.box.slideshow h3 {
  text-transform: uppercase;
  font-weight: 700;
}



#content .product {
  background: #fff;
  border: solid 1px #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
}
#content .product .flip-container {
  cursor: pointer;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
@media (max-width: 767px) {
  #content .product .flip-container img.img-responsive {
    min-width: 100%;
  }
}
#content .product .flip-container,
#content .product .front,
#content .product .back {
  width: 100%;
}
#content .product .flipper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
#content .product .front,
#content .product .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}
#content .product .front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
#content .product .back {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
#content .product:hover .back {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
}
#content .product:hover .front {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 1;
}
#content .product .invisible {
  visibility: hidden;
}
@media (max-width: 767px) {
  #content .product .invisible img.img-responsive {
    min-width: 100%;
  }
}
#content .product .text {
  padding: 10px 10px 0;
}
#content .product .text h3 {
  font-size: 18px;
  font-weight: 700;
  height: 39.6px;
  text-align: center;
  overflow: hidden;
}
#content .product .text h3 a {
  color: #555555;
}
#content .product .text p.price {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}
#content .product .text p.price del {
  color: #999999;
}
#content .product .text .buttons {
  clear: both;
  text-align: center;
}
#content .product .text .buttons .btn {
  margin-bottom: 10px;
}
#content .banner {
  margin-bottom: 30px;
}
#content .pages {
  text-align: center;
}
#content .pages .loadMore {
  text-align: center;
}
#content .pages .pagination {
  text-align: center;
}
#content #mainImage {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
#content #productMain {
  margin-bottom: 30px;
}
#content #productMain .goToDescription {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
}
#content #productMain .goToDescription a {
  color: #999999;
  text-decoration: underline;
}
#content #productMain .price {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin-top: 40px;
}
#content #productMain .buttons {
  margin-bottom: 0;
  text-align: center;
}
#content #productMain .buttons .btn {
  margin-bottom: 10px;
}
#content #details .social {
  text-align: left;
}
#content #details .social h4 {
  font-weight: 300;
  margin-bottom: 10px;
}
#content #details .social p {
  line-height: 26px;
}
#content #details .social p a {
  margin: 0 10px 0 0;
  color: #fff;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  line-height: 26px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  vertical-align: bottom;
}
#content #details .social p a i {
  vertical-align: bottom;
  line-height: 26px;
}
#content #details .social p a.facebook {
  background-color: #4460ae;
}
#content #details .social p a.gplus {
  background-color: #c21f25;
}
#content #details .social p a.twitter {
  background-color: #3cf;
}
#content #details .social p a.instagram {
  background-color: #cd4378;
}
#content #details .social p a.email {
  background-color: #4a7f45;
}
@media (max-width: 991px) {
  #content #details .social {
    text-align: center;
  }
}
#content #thumbs a {
  display: block;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border: solid 2px transparent;
}
#content #thumbs a.active {
  border-color: #4fbfa8;
}
#content #checkout .nav {
  margin-bottom: 20px;
  border-bottom: solid 1px #4fbfa8;
}
#content #checkout .nav li {
  height: 100%;
}
#content #checkout .nav li a {
  display: block;
  height: 100%;
}
#content #order-summary table {
  margin-top: 20px;
}
#content #order-summary table td {
  color: #999999;
}
#content #order-summary table tr.total td,
#content #order-summary table tr.total th {
  font-size: 18px;
  color: #555555;
  font-weight: 700;
}
#content #checkout .table tbody tr td,
#content #basket .table tbody tr td,
#content #customer-order .table tbody tr td {
  vertical-align: middle;
}
#content #checkout .table tbody tr td input,
#content #basket .table tbody tr td input,
#content #customer-order .table tbody tr td input {
  width: 50px;
  text-align: right;
}
#content #checkout .table tbody tr td img,
#content #basket .table tbody tr td img,
#content #customer-order .table tbody tr td img {
  width: 50px;
}
#content #checkout .table tfoot,
#content #basket .table tfoot,
#content #customer-order .table tfoot {
  font-size: 18px;
}
#content #text-page h1,
#content #text-page h2,
#content #text-page h3 {
  font-weight: 700;
}

/* type */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: #fff;
}
h1,
.h1,
h2,
.h2,
h3,
.h3


@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
.text-small {
  font-size: 12px;
}
.text-large {
  font-size: 18px;
}
.text-italic {
  font-style: italic;
}
.text-primary {
  color: #4fbfa8;
}
a.text-primary:hover {
  color: #3aa18c;
}
.bg-primary {
  color: #fff;
  background-color: #4fbfa8;
}
a.bg-primary:hover {
  background-color: #3aa18c;
}
abbr[title],
abbr[data-original-title] {
  border-bottom: 1px dotted #999999;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 14px;
  border-left: 5px solid #4fbfa8;
}

